<!DOCTYPE html>
<html lang="en" data-ng-app="latytudPhotoApp" data-ng-strict-di>
<head>
	<title>Site de photos de l'association L'a ty tud</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="css/vendors/bootstrap.min.css" rel="stylesheet" media="screen">

	<style type="text/css">
	/* Surcharge bootstrap */
	.list-group-item {
		padding:2px 10px;
		border:0px solid;
	}

	.panel-body {
		padding: 8px;
	}

	.list-group {
		padding-left: 0px;
		margin-bottom: 2px;
	}
	</style>
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Photos</a>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row" data-ng-controller="LeftMenuController as leftMenuCtrl">
			<!-- Menu (Left column) -->
			<div class="col-md-2">
				<!-- angular menu -->
				<div class="panel-group" id="accordion" data-ng-cloak>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Filtre du menu" data-ng-model="query">
					</div>
					<div class="panel panel-default" data-ng-repeat="menu in leftMenu | filter:query">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{menu.title}}">{{menu.title}}</a>
							</h3>
						</div>
						<div id="collapse{{menu.title}}" data-ng-class="$last ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
							<div class="panel-body">
								<div data-ng-repeat="subMenu in menu.subMenu">
									<a href="{{subMenu.link}}" data-ng-if="subMenu.link">{{subMenu.title}}</a>
									<div data-ng-if="!subMenu.link">
										{{subMenu.title}} :
										<ul class="list-group" data-ng-if="subMenu.links">
											<li class="list-group-item" data-ng-repeat="link in subMenu.links"><a href="{{link.link}}">Par {{link.by}}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Right column -->
			<div class="col-md-10">
				<!-- Presentation -->
				<div class="jumbotron">
					<div class="container">
						<div class="media">
							<img class="media-object pull-left" src="img/logo-latytud-1.png" alt="Logo Latytud">
							<div class="media-body">
								<h1 class="media-heading">L'A TY TUD iens !</h1>
								<p>Retrouve ici les bons moments passez ensemble ;)</p>
								<p>&nbsp;</p>
								<p data-ng-cloak><a class="btn btn-primary btn-lg" href="{{activeMenu.link}}">Les dernières photos {{activeMenu.title}}</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /row -->
	</div><!-- /container -->
	<!-- jQuery, bootstrap and Angular -->
	<script src="js/vendors/jquery-2.0.3.min.js"></script>
	<script src="js/vendors/bootstrap.min.js"></script>
	<script src="js/vendors/angular-1.4.2.min.js"></script>
	<script src="js/latytud.js"></script>
</body>
</html>
